<!DOCTYPE html>
<html>
<head>
    <title>Hello Heroku</title>
</head>
<body>
    <h1>Hello World</h1>
    <p>My first Heroku app</p>
    <p>This is forked and edited from <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">this</a> tutorial</p>
    <p>to use in a school assignment to practise and learn to deploy a web application to Heroku with a github pipeline.</p>
    <p>Main idea is to try out the github pipeline and see the updates work.</p>

    <h2>Here is an update</h2>
    
</html>
